<form novalidate class="form-inline" style="margin-bottom: 15px;">
	<div class="form-group">
		<label class="sr-only" for="exampleInputEmail3">Email address</label>
		<input type="email" class="form-control" id="exampleInputEmail3" placeholder="Email" ng-model="email">
	</div>
	<button type="submit" ng-click="update(email)" class="btn btn-primary">Search</button>
</form>


<div class="result" >

	<div class="contactInfo" ng-if="result.contactInfo">
		<div class="well">
			<h3>{{result.contactInfo.fullName}}</h3>
			<p ng-if="result.demographics.gender">Gender deduced as: {{result.demographics.gender}}</p>
			<p ng-if="result.organizations" ng-repeat="org in result.organizations">
				{{org.title}} @ {{org.name}} ({{org.startDate}} - {{org.endDate | endDate}})
			</p>
		</div>
	</div>

	<div class="progress" ng-if="result.likelihood">
		<div class="progress-bar progress-bar-striped" 
		ng-class="{'progress-bar-info': isInfo(), 'progress-bar-success': isSuccess(), 'progress-bar-warning': isWarn(), 'progress-bar-danger': isDanger()}"
		role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: {{likelihood*100}}%">
		<span ng-model="likelihood">{{result.likelihood | percent}}</span>
		</div>
	</div>

	<div class="panel panel-default" ng-if="photos">
		<div class="panel-heading">
			<h3 class="panel-title">Photos</h3>
		</div>
		<div class="panel-body">
			<a href="#" ng:repeat="photo in photos"><img src="{{photo.url}}" class="img-thumbnail" style="height: 120px;"/></a>
		</div>
	</div>


	<div class="panel panel-default" ng-if="result.demographics.locationDeduced.deducedLocation">
		<div class="panel-heading">
			<h3 class="panel-title">Deduced Location</h3>
		</div>
		<div class="panel-body">
			<div class="google-maps">
				<iframe width="600" height="450" frameborder="0" style="border:0" ng-src="{{getMapsUrl()}}" allowfullscreen></iframe>
			</div>
		</div>
	</div>




	<div class="socialProfiles">
		<div class="panel panel-default"  ng-repeat="profile in result.socialProfiles">
			<div class="panel-heading">
				<h3 class="panel-title">{{profile.typeName}}</h3>
			</div>
			<div class="panel-body">
				{{profile.url}}
			</div>
		</div>
		
	</div>


</div>







